<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>empWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/listEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAddServlet</display-name>
    <servlet-name>EmpAddServlet</servlet-name>
    <servlet-class>servlet.EmpAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAddServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpUpdateServlet</display-name>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <servlet-class>servlet.EmpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptServlet</display-name>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/listDepartments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjByEmpServlet</display-name>
    <servlet-name>ProjByEmpServlet</servlet-name>
    <servlet-class>servlet.ProjByEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjByEmpServlet</servlet-name>
    <url-pattern>/projectsByEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjServlet</display-name>
    <servlet-name>ProjServlet</servlet-name>
    <servlet-class>servlet.ProjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjServlet</servlet-name>
    <url-pattern>/listProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpEditServlet</display-name>
    <servlet-name>EmpEditServlet</servlet-name>
    <servlet-class>servlet.EmpEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpEditServlet</servlet-name>
    <url-pattern>/editEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDeleteServlet</display-name>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <servlet-class>servlet.EmpDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkingSpaceServlet</display-name>
    <servlet-name>ParkingSpaceServlet</servlet-name>
    <servlet-class>servlet.ParkingSpaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkingSpaceServlet</servlet-name>
    <url-pattern>/listParkingSpaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkingFixEmpEditServlet</display-name>
    <servlet-name>ParkingFixEmpEditServlet</servlet-name>
    <servlet-class>servlet.ParkingFixEmpEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkingFixEmpEditServlet</servlet-name>
    <url-pattern>/fixEmpEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkingFixEmpUpdateServlet</display-name>
    <servlet-name>ParkingFixEmpUpdateServlet</servlet-name>
    <servlet-class>servlet.ParkingFixEmpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkingFixEmpUpdateServlet</servlet-name>
    <url-pattern>/fixEmpUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignEmpEditServlet</display-name>
    <servlet-name>AssignEmpEditServlet</servlet-name>
    <servlet-class>servlet.AssignEmpEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignEmpEditServlet</servlet-name>
    <url-pattern>/assignEmpEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignEmpUpdateServlet</display-name>
    <servlet-name>AssignEmpUpdateServlet</servlet-name>
    <servlet-class>servlet.AssignEmpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignEmpUpdateServlet</servlet-name>
    <url-pattern>/assignEmpUpdate</url-pattern>
  </servlet-mapping>
</web-app>